.right{
  position: relative;
  margin-top:20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid rgba(175,175,175,0.8);
}

.left{
  position: relative;
  margin-top:20px;
  float: right;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgba(175,175,175,0.8);
}

.right:hover{
  border-left: 20px solid rgba(175,175,175,1);
}

.left:hover{
  border-right: 20px solid rgba(175,175,175,1);
}

.carrousel-body{
  width: 100%;
  background-color: black;
  border:solid 10px black;
  border-radius: 10px;
  border-bottom-width:25px;
  border-top-width: 15px;
}
