.right{
  position: relative;
  margin-top:120px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid rgba(175,175,175,0.8);
}

.left{
  position: relative;
  left: 90%;
  margin-top:120px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgba(175,175,175,0.8);
}

.right:hover{
  border-left: 20px solid rgba(175,175,175,1);
}

.left:hover{
  border-right: 20px solid rgba(175,175,175,1);
}

.carrousel-body{
  height: 280px;
  background-color: green;
}
