iframe{
  background-color: black;
}

.important{
  text-decoration:underline;
}

#ButtonBody{
   background-color:#25383C;
   padding:15px;
   border-radius:10px;
   text-decoration:none;
   color:white;
   border:solid black;
   box-shadow: 5px 5px black;
}

#ButtonBody:hover{
   filter: brightness(85%);
   box-shadow: 4px 4px black;
}

#ButtonBody:active{
   filter: brightness(65%);
   box-shadow: 2px 2px black;
}

#AndroidLogo{
  width: 100%;
}

#DownloadText{
  margin-bottom: 0;
}

#DownloadTextBody{
  display: flex;
  justify-content: center;
  align-items: center;
}
